# Xcode
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# API Keys and Secrets
Configurations/Openweather_Secrets.xcconfig
Configurations/Config-Debug.xcconfig
Configurations/Config-Release.xcconfig

# Configuration files with sensitive data
**/Configurations/*.xcconfig
!**/Configurations/*.xcconfig.template